{% extends 'base.html' %}
{% load static %}

 
{% block content %}
<!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>HR Analytics</h1>
        
          </div>
        </div>
      </div>
    </div>
 
    <!-- hero -->
    <div class="section2" id="sec2" > 
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10 col-sm-9">
              <div id="myvideo" class="dash-left wrap-element">    
                <iframe class="wrapped-iframe"  title="HR Analytics_Dashboard" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiYmJhMTI2MTYtNGVhMy00ZGE3LThjZjgtOTdhZTA2MjJhZmVkIiwidCI6IjY0ZjQyZmViLWVjYjgtNGZkZi04Yzg2LTA2MTMyOTg4OGJiNyJ9&pageName=ReportSection40a7ee9f6f65693ba67d" frameborder="0" allowFullScreen="true"></iframe>
              </div>
            </div>      
          </div>
        </div>
    </div>





    
     <!-- section card dash -->
     <div class="section2 mb-5" id="sec2" > 
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-10 col-sm-9">
                HRM Dashboard (also known as people analytics) is the collection and application of talent data to improve critical talent and business outcomes. HR analytics leaders enable HR leaders to develop data-driven insights to inform talent decisions, improve workforce processes and promote positive employee experience.
                Common data sources include internal data like demographic employee data, payroll data, social network data, performance data, and engagement data. External data sources can include labor market data, population data, LinkedIn data, and much more. Any data that's relevant for the specific project can be used.
                
                
              </div>
                    
          </div>
      </div>
  </div>
  
  
  
{% endblock %}


