{% extends 'base.html' %}
{% load static %}

 
{% block content %}
<!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Taxi Trip</h1>
            {% comment %} <span>We have over 20 years of experience</span> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
 
    <!-- hero -->
    <div class="section2" id="sec2" > 
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10 col-sm-9">
              <div id="myvideo" class="dash-left wrap-element">    
                {% comment %} <iframe class="wrapped-iframe" title="HR Analytics_Dashboard" width="1140" height="941.25" src="https://app.powerbi.com/view?r=eyJrIjoiYmJhMTI2MTYtNGVhMy00ZGE3LThjZjgtOTdhZTA2MjJhZmVkIiwidCI6IjY0ZjQyZmViLWVjYjgtNGZkZi04Yzg2LTA2MTMyOTg4OGJiNyJ9&pageName=ReportSection6a2f89d8d811f8f42ef8" frameborder="0" allowFullScreen="true"></iframe> {% endcomment %}
                <iframe class="wrapped-iframe" title="Taxi Trip Report" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiYTdjODk3NGQtYmUzZC00YjYzLWIwZTUtYmRmODRlYTQ4MmUxIiwidCI6IjY0ZjQyZmViLWVjYjgtNGZkZi04Yzg2LTA2MTMyOTg4OGJiNyJ9&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
              </div>
            </div>      
          </div>
        </div>
    </div>

    <div class="section2" id="sec2" > 
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-10 col-sm-9">
                A report section where Admin can view various reports like Total Earning Report, Payment Report, User wallet Report, Referral Report, Drive Log and Payment Report etc. Check key insights and numbers, Check how much you are earning, Check whether to increase/decrease commission.  
                We offer you a report section in the Admin panel where you as an Admin can see Driver Report, Customer Report and the Ride Report. Our advanced payment reports help you to track the earnings, plan your business by putting the strategies on place which needs attention, and catalyze actions on areas which are weak by putting extra marketing efforts. 
                            </div>
                    
          </div>
      </div>
  </div>
  
{% endblock %}


