{% extends 'base.html' %}
{% load static %}

{% block content %}
 
<!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Insurance Incentive</h1>
        
          </div>
        </div>
      </div>
    </div>
  

    <!-- hero -->
    <div class="section2" id="sec2" > 
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-sm-9">
               
                    <div id="myvideo " class="dash-left wrap-element">
                     
                      <iframe  class="wrapped-iframe" title="Insurance Incentive Dashboard" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiMjJiNDY3ZmQtZjMyYi00MDA5LThiMmUtYWE0OTA3Mzg2ZmU4IiwidCI6IjY0ZjQyZmViLWVjYjgtNGZkZi04Yzg2LTA2MTMyOTg4OGJiNyJ9&pageName=ReportSection5ede6550c24f452edf77" frameborder="0" allowFullScreen="true"></iframe>
                    </div>
                </div>
                      
            </div>
        </div>
    </div>


    <!-- section card dash -->
    <div class="section2 mb-5" id="sec2" > 
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-10 col-sm-9">
                Insurance dashboards are using BI and analytics to provide essential insights to empower the insurance business. Insurance dashboards can collect and extract relevant data from multiple sources and display them on one screen. It helps agents and brokers efficiently track progress, monitor incomes and expenses. The insurance claim dashboard is to helps organizations monitor the claim handling process and trends. This kind of dashboard reports the primary claim status and analyzes the process. 
 

Metrics :  

Revenue growth. 

Revenue per client. 

Profit margin. 

Client retention rate. 

Customer satisfaction. 
              </div>
                    
          </div>
      </div>
  </div>
    
  
{% endblock %}



