{% extends 'base.html' %}
{% load static %}

 
{% block content %}
<!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>ICCC Transport</h1>
           
          </div>
        </div>
      </div>
    </div>
 
    <!-- hero -->
    <div class="section2" id="sec2" > 
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10 col-sm-9">
              <div id="myvideo" class="dash-left wrap-element">    
                <iframe  class="wrapped-iframe" title="ICCC Dashboard_DTC_updated - Home" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiNDkyMTBkMDctMjE0MS00NWE1LThiNDItYjNlYjE2NzU0YjZmIiwidCI6IjY0ZjQyZmViLWVjYjgtNGZkZi04Yzg2LTA2MTMyOTg4OGJiNyJ9" frameborder="0" allowFullScreen="true"></iframe>
              </div>
            </div>      
          </div>
        </div>
    </div>
  
      <!-- section card dash -->
      <div class="section2" id="sec2" > 
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-sm-9">
                  Every day huge amounts of data are gathered in Public Transport: AFC-data about usage and revenue, fleet management data about service delivery, etc. This data is generally used for monitoring purposes, but it can also be used for what-if analysis to gain insights into the impact of possible adjustments of the service in terms of quality, ridership, costs and revenue. Real Time Vehicle Tracking and analysis of vehicle movements.To provide a central actionable scalable data hub of insights of all vehicle movements from entry point to exit getting average total time in hours. ICCC Transport dashboard is owned by Private concession of DIMTS which consist of 156 G.B/ month of Analysis. It demonstrate and analyze average of Vehicles on Reliability Analysis such as average capacity of passenger, Route optimization, Real time tracking , etc.. 

Adjustments of fares, planning, frequency and/ or vehicle types 

Removal of routes or stops 

Improvement of on time performance 
                </div>
                      
            </div>
        </div>
    </div>
      
{% endblock %}


