{% extends 'base.html' %}
{% load static %}

 
{% block content %}
<!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Hospital Management</h1>
           
          </div>
        </div>
      </div>
    </div>
 
    <!-- hero -->
    <div class="section2" id="sec2" > 
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10 col-sm-9">
              <div id="myvideo" class="dash-left wrap-element">    
                <iframe class="wrapped-iframe" title="ESIC Report" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiMjNkN2Q2MjgtM2FiNC00NDcwLTkzM2UtOGFlZDc2ZjQ2NTZmIiwidCI6IjY0ZjQyZmViLWVjYjgtNGZkZi04Yzg2LTA2MTMyOTg4OGJiNyJ9&pageName=ReportSection5d2168d309ccb003604b" frameborder="0" allowFullScreen="true"></iframe>
              </div>
            </div>      
          </div>
        </div>
    </div>








     <!-- section card dash -->
     <div class="section2 mb-5" id="sec2" > 
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-10 col-sm-9">
                The primary goal of the Government of India in launching the ESIC scheme is to protect workers from certain health-related contingencies such as permanent or temporary disablement, sickness, death due to occupational injury or disease, which impacts the worker's earning capacity or leads to income loss. This plan helps employees to avoid financial hardship as a result of such sad events. Beneficiaries might also get maternity benefits under the plan. where we calculate the ratio's and other basics of the kpi's listed. 
              </div>
                    
          </div>
      </div>
  </div>
  
{% endblock %}


