{% extends 'base.html' %}
{% load static %}

 
{% block content %}
<!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>CRM</h1>
   
          </div>
        </div>
      </div>
    </div>
 
    <!-- hero -->
    <div class="section2" id="sec2" > 
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10 col-sm-9">
              <div id="myvideo" class="dash-left wrap-element">    
                <iframe class="wrapped-iframe" title="CRM" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiMWExNjliOTMtMDcwMy00MTU1LTg0NDgtMDU1N2MxNGM4Mjg2IiwidCI6IjY0ZjQyZmViLWVjYjgtNGZkZi04Yzg2LTA2MTMyOTg4OGJiNyJ9&pageName=ReportSectionb5ad6bd0439d885cac6e" frameborder="0" allowFullScreen="true"></iframe>
              </div>
            </div>      
          </div>
        </div>
    </div>

      <!-- section card dash -->
      <div class="section2 mb-5" id="sec2" > 
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-sm-9">
                  CRM analytics comprises all programming that analyzes data about customers and presents it to help facilitate and streamline better business decisions. CRM analytics can be considered a form of online analytical processing (OLAP) and may employ data mining. As companies have added new and often faster ways to interact with customers, the opportunity and the need to turn data collected about customers into useful information has become increasingly important. As a result, a number of software companies have developed products that perform customer data analysis, and analytics is a component of many CRM systems. 
                </div>
                      
            </div>
        </div>
    </div>
      
  
{% endblock %}


