{% extends 'base.html' %}
{% load static %}

 
{% block content %}
<!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Water Quality</h1>
            {% comment %} <span>We have over 20 years of experience</span> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
 
    <!-- hero -->
    <div class="section2" id="sec2" > 
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10 col-sm-9">
              <div id="myvideo" class="dash-left wrap-element">    
                {% comment %} <iframe class="wrapped-iframe" title="HR Analytics_Dashboard" width="1140" height="941.25" src="https://app.powerbi.com/view?r=eyJrIjoiYmJhMTI2MTYtNGVhMy00ZGE3LThjZjgtOTdhZTA2MjJhZmVkIiwidCI6IjY0ZjQyZmViLWVjYjgtNGZkZi04Yzg2LTA2MTMyOTg4OGJiNyJ9&pageName=ReportSection6a2f89d8d811f8f42ef8" frameborder="0" allowFullScreen="true"></iframe> {% endcomment %}
                <iframe class="wrapped-iframe" title="Water Quality" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiYzZlZTRjNDItYTE1ZS00MTEyLWE3ZWMtYTUwMWUwMjZjNDQxIiwidCI6IjY0ZjQyZmViLWVjYjgtNGZkZi04Yzg2LTA2MTMyOTg4OGJiNyJ9&pageName=ReportSection7ef5c5a05c0c464e16c8" frameborder="0" allowFullScreen="true"></iframe>
              </div>
            </div>      
          </div>
        </div>
    </div>
  
      <!-- section card dash -->
      <div class="section2" id="sec2" > 
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-sm-9">
                  Visualise the status of freshwater bodies worldwide by means of a water quality indicator dashboard.	  

                  This dashboard measures the most current water quality data against water quality standards for Chlorophyll a, Phosphorus, Nitrogen, E. coli bacteria, and Secchi Depth water clarity (separated by fresh and marine water quality standards outlined in. It provides a snapshot of how a waterbody is doing, with the colors on the dials representing the current state of the water quality based on the last data point reported with green meaning good condition, yellow meaning fair as water quality is approaching unsafe threshold, and red meaning poor as the water is above the safety threshold. For additional water quality data and more detailed analysis of a specific lake, river or bay.                 </div>
                      
            </div>
        </div>
    </div>
{% endblock %}


