{% extends 'base.html' %}
{% load static %}

 
{% block content %}
<!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Sales Analysis</h1>
            {% comment %} <span>We have over 20 years of experience</span> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
 
    <!-- hero -->
    <div class="section2" id="sec2" > 
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10 col-sm-9">
              <div id="myvideo" class="dash-left wrap-element">    
                {% comment %} <iframe class="wrapped-iframe" title="HR Analytics_Dashboard" width="1140" height="941.25" src="https://app.powerbi.com/view?r=eyJrIjoiYmJhMTI2MTYtNGVhMy00ZGE3LThjZjgtOTdhZTA2MjJhZmVkIiwidCI6IjY0ZjQyZmViLWVjYjgtNGZkZi04Yzg2LTA2MTMyOTg4OGJiNyJ9&pageName=ReportSection6a2f89d8d811f8f42ef8" frameborder="0" allowFullScreen="true"></iframe> {% endcomment %}
                <iframe class="wrapped-iframe" title="Sales_Analysis" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiOWM0ZGNkZWEtNTRhMS00ZWY1LTg1YTItOTI4OWMyNWE5ODQ4IiwidCI6IjY0ZjQyZmViLWVjYjgtNGZkZi04Yzg2LTA2MTMyOTg4OGJiNyJ9&pageName=ReportSection2362f7f45d05ca1de109" frameborder="0" allowFullScreen="true"></iframe>
              </div>
            </div>      
          </div>
        </div>
    </div>
      <!-- section card dash -->
      <div class="section2" id="sec2" > 
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-sm-9">
                  Sales dashboards are a method of measuring sales performance from a birds-eye view. They help measure key metrics, individual team members and sales activities. Data is collected from various sources and displayed in a dashboard to generate actionable insights, fast. 

                  Account executives and sales development reps (SDRs) love sales dashboards. They help measure activities and keep them on track of quotas. 
                  
                  You’ll also need sales management dashboards to keep track of how well your teams are performing. Metrics, activities and key performance indicators (KPIs) will vary depending on incentives and other factors.                   </div>
                      
            </div>
        </div>
    </div>
  
{% endblock %}


