{% extends 'base.html' %}
{% load static %}

 
{% block content %}
<!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Scheme Management</h1>
            {% comment %} <span>We have over 20 years of experience</span> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
 
    <!-- hero -->
    <div class="section2" id="sec2" > 
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10 col-sm-9">
              <div id="myvideo" class="dash-left wrap-element">    
                {% comment %} <iframe class="wrapped-iframe" title="HR Analytics_Dashboard" width="1140" height="941.25" src="https://app.powerbi.com/view?r=eyJrIjoiYmJhMTI2MTYtNGVhMy00ZGE3LThjZjgtOTdhZTA2MjJhZmVkIiwidCI6IjY0ZjQyZmViLWVjYjgtNGZkZi04Yzg2LTA2MTMyOTg4OGJiNyJ9&pageName=ReportSection6a2f89d8d811f8f42ef8" frameborder="0" allowFullScreen="true"></iframe> {% endcomment %}
                <iframe class="wrapped-iframe" title="MSME_DB Final_New" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiZGIwZGFjNDAtY2EyZS00YWVkLWEyZDktYWJlM2ZjZmQwOTlhIiwidCI6IjY0ZjQyZmViLWVjYjgtNGZkZi04Yzg2LTA2MTMyOTg4OGJiNyJ9&pageName=ReportSection6824712188ce239cb2ad" frameborder="0" allowFullScreen="true"></iframe>
              </div>
            </div>      
          </div>
        </div>
    </div>
  

      <!-- section card dash -->
      <div class="section2" id="sec2" > 
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-sm-9">
                  To help in scheme management and project monitoring of Rs 5350 Crores funds under "Raising and Accelerating MSME Performance" (RAMP) scheme funded by World Bank. We give or plan schemes for their stockiest, distributor, party, retailers and so on to grow their sales time to time. But it is very hard working to manage and automate all information till the end beneficiaries.                </div>
                      
            </div>
        </div>
    </div>
{% endblock %}


