{% extends 'base.html' %}
{% load static %}

 
{% block content %}
<!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>School Education</h1>
            {% comment %} <span>We have over 20 years of experience</span> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
 
    <!-- hero -->
    <div class="section2" id="sec2" > 
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10 col-sm-9">
              <div id="myvideo" class="dash-left wrap-element">    
                {% comment %} <iframe class="wrapped-iframe" title="HR Analytics_Dashboard" width="1140" height="941.25" src="https://app.powerbi.com/view?r=eyJrIjoiYmJhMTI2MTYtNGVhMy00ZGE3LThjZjgtOTdhZTA2MjJhZmVkIiwidCI6IjY0ZjQyZmViLWVjYjgtNGZkZi04Yzg2LTA2MTMyOTg4OGJiNyJ9&pageName=ReportSection6a2f89d8d811f8f42ef8" frameborder="0" allowFullScreen="true"></iframe> {% endcomment %}
                <iframe class="wrapped-iframe" title="Indian Education Dashboard (1)" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiODQyNDliYTYtZTdiZC00ODA5LWI2MzctZmE4NTY1Y2FkM2Q5IiwidCI6IjY0ZjQyZmViLWVjYjgtNGZkZi04Yzg2LTA2MTMyOTg4OGJiNyJ9&pageName=ReportSection5674b2fec2833561a574" frameborder="0" allowFullScreen="true"></iframe>
              </div>
            </div>      
          </div>
        </div>
    </div>
  

      <!-- section card dash -->
      <div class="section2" id="sec2" > 
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-sm-9">
                  The solution comprised of conducting an in-depth Analysis of recent trends and of the status of the 
education system, to identify progress achieved & outstanding challenges on the infrastructure level 
• This project covered analysis of all the schools across Maharashtra comprising information about 
school facilities, projects executed, benchmarking against peer schools, improvements to drive and 
performance monitoring 
• Comprehensive analysis of school infrastructure including (but not limited to) the number of 
infrastructure facilities, health check-ups, demographic analysis, etc. 
• Student level analysis to identify number of classrooms, laboratories, playground, libraries, drinking 
water, restrooms, electricity based on student ratio of each school. 
• Detailed analysis on the daily milk & food provision, mandatory health check-ups & periodic analysis, 
projects executed against budgets sanctioned. Complaints / grievance addressed, etc. 
• Analysis of facilities provided by diverse education system 
• All analysis was visualized with graphical representation of each information was performed 
• Real–time data collection, correlation, analysis, insights to identify improvement areas, and initiatives 
• Mobile enabled dashboards and data capture apps for CRCs/BRCs for field visits & other school needs 
• Digital report cards for SAT, PAT and class assessments for parents to reduces carbon footprint & costs 
• Consolidated online & offline content, delivery assessment, bottlenecks for Diksha, Teams, YouTube 
etc. we identified and helped the department to take corrective actions 
• Geo-spatial Analytics and related Connectivity issues identification and related predictive analytics 
using clusters and distance measures. 
• Follow up & resolution of problems received by respective HoDs to enable review of corrective actions 

 
                </div>
                      
            </div>
        </div>
    </div>
{% endblock %}


