{% extends 'base.html' %}
{% load static %}

 
{% block content %}
<!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Bihar Vikas Mission</h1>
            
          </div>
        </div>
      </div>
    </div>
 
    <!-- hero -->
    <div class="section2" id="sec2" > 
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10 col-sm-9">
              <div id="myvideo" class="dash-left wrap-element">    
                {% comment %} <iframe class="wrapped-iframe" title="Bihar Vikas Mission" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiNTU2MDFmOTctM2NkNi00ZWVmLThlYzYtY2Q0OTVmYTI0MDQ5IiwidCI6IjY0ZjQyZmViLWVjYjgtNGZkZi04Yzg2LTA2MTMyOTg4OGJiNyJ9&pageName=ReportSection40611f1dd564ac05d697" frameborder="0" allowFullScreen="true"></iframe> {% endcomment %}
                <iframe class="wrapped-iframe" title="Bihar Vikas Mission" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiNTU2MDFmOTctM2NkNi00ZWVmLThlYzYtY2Q0OTVmYTI0MDQ5IiwidCI6IjY0ZjQyZmViLWVjYjgtNGZkZi04Yzg2LTA2MTMyOTg4OGJiNyJ9&pageName=ReportSection40611f1dd564ac05d697" frameborder="0" allowFullScreen="true"></iframe>
              </div>
            </div>      
          </div>
        </div>
    </div>


    <!-- section card dash -->
    <div class="section2 mb-5" id="sec2" > 
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-10 col-sm-9">
                The Bihar Vikas Mission, registered under the provisions of Societies Registration Act, 1860 to ensure the implementation in mission mode, fixation of priorities, monitoring of achievements against the targets of programmes and other resolutions of seven resolves for developed Bihar within the programmes of Good Governance, Agriculture Road Map, Mission Manav Vikas, Infrastructure Development and Industrial incentives. The government of Bihar has listed down certain specific area which they need to cover in order to make the required improvement in the state. The agenda of the 7 resolves is 'bijili, sadakaurpani' and youth education, skill development and employment. Focus would also be put on women empowerment 

 
              </div>
                    
          </div>
      </div>
  </div>
  
{% endblock %}


