{% extends 'base.html' %}
{% load static %}

 
{% block content %}
<!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Scheme Management 2</h1>
            {% comment %} <span>We have over 20 years of experience</span> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
 
    <!-- hero -->
    <div class="section2" id="sec2" > 
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10 col-sm-9">
              <div id="myvideo" class="dash-left wrap-element">  
                <iframe  class="wrapped-iframe" title="Scheme Management Dashboard" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiYmY1NzhlODItYWY5ZS00YmI1LWFjZDYtZDU4YTVjYTc3NjIxIiwidCI6IjY0ZjQyZmViLWVjYjgtNGZkZi04Yzg2LTA2MTMyOTg4OGJiNyJ9&pageName=ReportSection84177ec86ef2982ebe35" frameborder="0" allowFullScreen="true"></iframe>  
                {% comment %} <iframe class="wrapped-iframe" title="HR Analytics_Dashboard" width="1140" height="941.25" src="https://app.powerbi.com/view?r=eyJrIjoiYmJhMTI2MTYtNGVhMy00ZGE3LThjZjgtOTdhZTA2MjJhZmVkIiwidCI6IjY0ZjQyZmViLWVjYjgtNGZkZi04Yzg2LTA2MTMyOTg4OGJiNyJ9&pageName=ReportSection6a2f89d8d811f8f42ef8" frameborder="0" allowFullScreen="true"></iframe> {% endcomment %}
              </div>
            </div>      
          </div>
        </div>
    </div>
      <!-- section card dash -->
      <div class="section2" id="sec2" > 
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-sm-9">
                  The incorporation of modern technologies like data intelligence dashboard has been revolutionising the real estate market, driving it into the current phase. Multiple organisations have already shifted to big data to analyse and estimate property purchases, manage portfolios, calculate profits, etc., indicating the prospects of data intelligence in the real estate industry to be extensive and boundless. 
                </div>
                      
            </div>
        </div>
    </div>
  
{% endblock %}


