{% extends 'base.html' %}
{% load static %}

 
{% block content %}
<!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Ecommerce</h1>
    
          </div>
        </div>
      </div>
    </div>
 
    <!-- hero -->
    <div class="section2" id="sec2" > 
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10 col-sm-9">
              <div id="myvideo" class="dash-left wrap-element">    
                <iframe class="wrapped-iframe"
                title="E-Commerce Dashboard" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiZWNhMjc0ZjgtM2QzYy00YThlLTg2ZWUtMDlkMmQ4N2JjMTk4IiwidCI6IjY0ZjQyZmViLWVjYjgtNGZkZi04Yzg2LTA2MTMyOTg4OGJiNyJ9&pageName=ReportSectionc43b6a7482afc518c2c3" frameborder="0" allowFullScreen="true"></iframe>
              </div>
            </div>      
          </div>
        </div>
    </div>

    
  <!-- section card dash -->
  <div class="section2 mb-5" id="sec2" > 
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-sm-9">
              In its purest form, an ecommerce dashboard is a curated set of metrics, KPIs and other data that’s designed to highlight, in the clearest possible way, trends, anomalies and information related to an online store that regularly warrants attention.Dashboards differ from more specialised ecommerce analytics tools and reports, in that their purpose is to surface just the most important information viewers might care about, rather than every possible metric that can be sliced and diced in an infinite number of ways. 

             
            </div>
                  
        </div>
    </div>
</div>
  
  
{% endblock %}


