{% extends 'base.html' %}
{% load static %}

 
{% block content %}
<!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Safety Dashboard</h1>
            {% comment %} <span>We have over 20 years of experience</span> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
 
    <!-- hero -->
    <div class="section2" id="sec2" > 
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10 col-sm-9">
              <div id="myvideo" class="dash-left wrap-element"> 
                <iframe class="wrapped-iframe" title="Safety Dashboard" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiYjgwYjNjZjQtNzk5My00OWRkLTkwYTctYTU3Mzk5N2YzYTdiIiwidCI6IjY0ZjQyZmViLWVjYjgtNGZkZi04Yzg2LTA2MTMyOTg4OGJiNyJ9&pageName=ReportSection75d91c1fbe2413999bbc" frameborder="0" allowFullScreen="true"></iframe>   
                {% comment %} <iframe class="wrapped-iframe" title="Safety_240122" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiZGQ4NWMyMzAtZTVlMy00MmQ0LTllNDQtYjVkYWEzMDRmYTA4IiwidCI6IjY0ZjQyZmViLWVjYjgtNGZkZi04Yzg2LTA2MTMyOTg4OGJiNyJ9&pageName=ReportSection75d91c1fbe2413999bbc" frameborder="0" allowFullScreen="true"></iframe> {% endcomment %}
                {% comment %} <iframe class="wrapped-iframe" title="HR Analytics_Dashboard" width="1140" height="941.25" src="https://app.powerbi.com/view?r=eyJrIjoiYmJhMTI2MTYtNGVhMy00ZGE3LThjZjgtOTdhZTA2MjJhZmVkIiwidCI6IjY0ZjQyZmViLWVjYjgtNGZkZi04Yzg2LTA2MTMyOTg4OGJiNyJ9&pageName=ReportSection6a2f89d8d811f8f42ef8" frameborder="0" allowFullScreen="true"></iframe> {% endcomment %}
              </div>
            </div>      
          </div>
        </div>
    </div>

    <div class="section2" id="sec2" > 
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-10 col-sm-9">
                A safety dashboard is a set of visual reports that highlight critical safety data and key performance indicators (KPIs) in real time. Safety dashboards assist you in quickly visualising and drilling down on trends and patterns in your data to answer business concerns. Injury rate, days lost and restricted, incident severity, incident expenditures, and completion of corrective actions are all common measures. Rate of injury The number of occurrences Seriousness of the incident The type of occurrence The root cause Incident costs, both direct and indirect Lost and limited days Inspections and audits have been completed. Corrective measures Completion of training Close calls 
              </div>
                    
          </div>
      </div>
  </div>
  
{% endblock %}


