{% extends 'base.html' %}
{% load static %}

 
{% block content %}
<!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Health ICCC</h1>
           
          </div>
        </div>
      </div>
    </div>
 
    <!-- hero -->
    <div class="section2" id="sec2" > 
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10 col-sm-9">
              <div id="myvideo" class="dash-left wrap-element">    
                <iframe class="wrapped-iframe" title="Health_ICCC_Dashboard" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiZDY3MjAwM2YtYTg2OC00YzczLTljNmUtMDRjNThmNTNkM2JkIiwidCI6IjY0ZjQyZmViLWVjYjgtNGZkZi04Yzg2LTA2MTMyOTg4OGJiNyJ9&pageName=ReportSection305761ef45e8b38d0e4b" frameborder="0" allowFullScreen="true"></iframe>
              </div>
            </div>      
          </div>
        </div>
    </div>





     <!-- section card dash -->
     <div class="section2 mb-5" id="sec2" > 
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-10 col-sm-9">
                Dashboards should include a manageable number of metrics, and those that are selected should highlight a healthcare organization's quality of care, financial status and operational efficiency. They should provide the capability for specific users to drill down to more detail if necessary.
                •	Filter by state, population, or specific query.
                •	Analyse charts and graphs and then select other tabs to see other views or drilldown into details.
                •	View data from multiple sources and formats on one dynamic screen.
                The world of healthcare data analytics is vast and can encompass a wide variety of organizations and use cases: from hospitals to medical equipment manufacturers, emergency rooms to intensive care units. And while some of the dashboard metrics tracked by healthcare organizations can be fairly similar to the ones monitored in other industries – such as finance or marketing – the use of business intelligence in hospitals presents a unique set of potential insights that can help physicians save lives by providing more effective and resourceful care to patients.
                
              </div>
                    
          </div>
      </div>
  </div>
  
  
{% endblock %}


