{% extends 'base.html' %}
{% load static %}

 
{% block content %}
<!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Education Dashboard</h1>
           
          </div>
        </div>
      </div>
    </div>
 
    <!-- hero -->
    <div class="section2" id="sec2" > 
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10 col-sm-9">
              <div id="myvideo" class="dash-left wrap-element">    
                <iframe class="wrapped-iframe" title="Convegenius Education Dashboard v8" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiZjI3YmQ0YmQtNTg0NS00YjlmLWFlZGUtODQ4OWMwZWY5Y2Q1IiwidCI6IjY0ZjQyZmViLWVjYjgtNGZkZi04Yzg2LTA2MTMyOTg4OGJiNyJ9&pageName=ReportSection5eb8d1f034e4ce97e087" frameborder="0" allowFullScreen="true"></iframe>
              </div>
            </div>      
          </div>
        </div>
    </div>

    <!-- section card dash -->
    <div class="section2 mb-5" id="sec2" > 
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-10 col-sm-9">
                Provide highly motivated, conscientious and efficient education dashboard for all levels of the education system. Encourage further the spirit of enquiry and creativity in the management of the entire education 

                An educational dashboard summarizes and visualizes various information that can be useful to support the learner in the learning process and the teacher in the teaching process. You can track all the key performance indicators that your team depends on: 

Attendance rates 

Enrollment figures 

Exam results 

Graduation rates 

Student/faculty ratio 

 
              </div>
                    
          </div>
      </div>
  </div>
  
{% endblock %}


