{% extends 'base.html' %}
{% load static %}

 
{% block content %}
<!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Grievance Management</h1>
           
          </div>
        </div>
      </div>
    </div>
 
    <!-- hero -->
    <div class="section2" id="sec2" > 
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10 col-sm-9">
              <div id="myvideo" class="dash-left wrap-element">    
                <iframe class="wrapped-iframe" title="Final Grievanvce (1) - Home Page" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiNDFlYmY3YTItYjA2Yi00M2IwLTljOTYtNzU0MTczZTJkNzYyIiwidCI6IjY0ZjQyZmViLWVjYjgtNGZkZi04Yzg2LTA2MTMyOTg4OGJiNyJ9" frameborder="0" allowFullScreen="true"></iframe>
              </div>
            </div>      
          </div>
        </div>
    </div>





    
     <!-- section card dash -->
     <div class="section2 mb-5" id="sec2" > 
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-10 col-sm-9">
                The Grievance dashboard shows the key trends in the analyzed complaints in a table. It also shows a bubble chart with further details on the trends. Each bubble corresponds to a single trend in the trend table. The size of the bubble corresponds to the volume of complaints that contributed to the trend. The color of the bubble corresponds to the level of risk that is associated with the complaint.
              </div>
                    
          </div>
      </div>
  </div>
  
{% endblock %}


