{% extends 'base.html' %}
{% load static %}

 
{% block content %}
<!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Water Resources</h1>
           
          </div>
        </div>
      </div>
    </div>
 
    <!-- hero -->
    <div class="section2" id="sec2" > 
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10 col-sm-9">
              <div id="myvideo" class="dash-left wrap-element">    
                <iframe class="wrapped-iframe" title="Delhi jal Board V1" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiMzM4ODhmMGUtMzI1MC00MTFmLWEyMjgtNWMxMDBmMmUyY2QyIiwidCI6IjY0ZjQyZmViLWVjYjgtNGZkZi04Yzg2LTA2MTMyOTg4OGJiNyJ9&pageName=ReportSectionf1232f1b1103038a209e" frameborder="0" allowFullScreen="true"></iframe>
              </div>
            </div>      
          </div>
        </div>
    </div>

      <!-- section card dash -->
      <div class="section2 mb-5" id="sec2" > 
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-sm-9">
                  Database management in water sector is of utmost importance for use of same in assessment of water potential, planning and design of water resources projects, flow studies, groundwater assessment, flood forecasting, Interstate dispute resolution, International water dispute resolution, study of climate change and its effect on water availability. WIMS in this way an important tool which is being developed for web-based water data entry and management platform for Surface/Groundwater for historical and real time data and thus creating a centralized pool of information at country level. The platform offers various module wise applications for State and Central agencies for effective database addition, update and sharing. . 
                </div>
                      
            </div>
        </div>
    </div>
      
  
{% endblock %}


