{% extends 'base.html' %}
{% load static %}

 
{% block content %}
<!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>PMO Dashboard</h1>
            {% comment %} <span>We have over 20 years of experience</span> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
 
    <!-- hero -->
    <div class="section2" id="sec2" > 
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10 col-sm-9">
              <div id="myvideo" class="dash-left wrap-element">    
                {% comment %} <iframe class="wrapped-iframe" title="HR Analytics_Dashboard" width="1140" height="941.25" src="https://app.powerbi.com/view?r=eyJrIjoiYmJhMTI2MTYtNGVhMy00ZGE3LThjZjgtOTdhZTA2MjJhZmVkIiwidCI6IjY0ZjQyZmViLWVjYjgtNGZkZi04Yzg2LTA2MTMyOTg4OGJiNyJ9&pageName=ReportSection6a2f89d8d811f8f42ef8" frameborder="0" allowFullScreen="true"></iframe> {% endcomment %}
                <iframe class="wrapped-iframe" title="PMO Dashboard" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiNzk4MDA1OTEtZGRjOS00NzJkLWJjMmItODU4NzVlOTQxNzAyIiwidCI6IjY0ZjQyZmViLWVjYjgtNGZkZi04Yzg2LTA2MTMyOTg4OGJiNyJ9&pageName=ReportSection7b147c4b0a1560554141" frameborder="0" allowFullScreen="true"></iframe>
              </div>
            </div>      
          </div>
        </div>
    </div>
  
      <!-- section card dash -->
      <div class="section2" id="sec2" > 
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-sm-9">
                  PMO dashboard allows summarizing every piece of project data using defined and understood standards. It helps the senior management to stay alert and to have a quick review to check if any projects need their immediate attention. A PMO Dashboard is also a transdisciplinary approach tool for knowledge transfer.  PMO dashboard provides comprehensive reports to the portfolio and program managers. The dashboard uses Performance Analytics to provide a trend of historical data as well as regular reports. It gives an overview of your investments, provides a pipeline view of upcoming intake and a calendar view of upcoming dates.We’ve made it evident that a business’s processes rely on the quality and accessible data, but its individual people rely on it too. In order to monitor performance levels, reach new standard compliances, and communicate strategies for the coming months to stakeholders, leaders need their data wherever they are. 

                </div>
                      
            </div>
        </div>
    </div>
{% endblock %}


