{% extends 'base.html' %}
{% load static %}

 
{% block content %}
<!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>India Energy Dashboard</h1>
          
          </div>
        </div>
      </div>
    </div>
 
    <!-- hero -->
    <div class="section2" id="sec2" > 
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10 col-sm-9">
              <div id="myvideo" class="dash-left wrap-element">    
                {% comment %} <iframe class="wrapped-iframe" title="India Energy - Home " width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiNzQ4MTM2MTctODA4OS00NzhkLWE3OTEtNDIwMjUxMjJmYjdlIiwidCI6IjY0ZjQyZmViLWVjYjgtNGZkZi04Yzg2LTA2MTMyOTg4OGJiNyJ9" frameborder="0" allowFullScreen="true"></iframe> {% endcomment %}
                <iframe class="wrapped-iframe" title="India Energy" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiNzQ4MTM2MTctODA4OS00NzhkLWE3OTEtNDIwMjUxMjJmYjdlIiwidCI6IjY0ZjQyZmViLWVjYjgtNGZkZi04Yzg2LTA2MTMyOTg4OGJiNyJ9&pageName=ReportSectiond31332430e10c47722e7" frameborder="0" allowFullScreen="true"></iframe>
              </div>
            </div>      
          </div>
        </div>
    </div>



     
     <!-- section card dash -->
     <div class="section2 mb-5" id="sec2" > 
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-10 col-sm-9">
                An energy dashboard is an efficient way to supervise, analyze and optimize any kind of energy relevant process. Mostly these performance indicators are used by energy suppliers as well as manufacturers that need energy as a key input in their production process. 
                
                
              </div>
                    
          </div>
      </div>
  </div>
  
{% endblock %}


