{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Crime Report</h1>
           
          </div>
        </div>
      </div>
    </div>
 
    <!-- hero -->
    <div class="section2" id="sec2" > 
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-10 col-sm-9">
                  <div id="myvideo" class="dash-left wrap-element">
                    <iframe class="wrapped-iframe" title="Crime_Report v2 - Arrested " width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiZDIzNzM2ZTMtOGUyMy00ZjMzLTkzZGEtYjY2Y2Q4MWRmYTkwIiwidCI6IjY0ZjQyZmViLWVjYjgtNGZkZi04Yzg2LTA2MTMyOTg4OGJiNyJ9" frameborder="0" allowFullScreen="true"></iframe>
                  </div>
              </div>
                    
          </div>
      </div>
  </div>

    <!-- section card dash -->
    <div class="section2 mb-5" id="sec2" > 
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-10 col-sm-9">
                Crime Dashboard offers information about relevant crime data and serves to improve information-sharing and transparency. This dashboard includes Maharashtra's crime data, comprising crime statistics, arrested criminals, criminal complaints, solved cases, etc. which aids quick comprehension of the underlying data. 

View state and agency-level data for specific crimes, including year-over-year or multi-year comparisons 

Generate trend analysis by type of offense 

Compare data and key performance indicators (KPIs) across agencies 

Criminal incidents 

Wellbeing checks 

Disturbances 

Safety escorts 

Lost and/or stolen property 

Lockouts 

Suspicious activity 

Alarms 

Trespassing 
              </div>
                    
          </div>
      </div>
  </div>
    

  
{% endblock %}




