{% load static %}

<!-- ***** Preloader Start ***** -->
<div id="preloader">
  <div class="jumper">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- Header -->
<section class="sec hero-sec" id="home">
  <div class="navigation">
    <div class="nav-container">
      <div class="brand mt-3">
        <a href="/"
          ><strong style="font-family: bold"
            ><img
              class="cloud"
              src="{% static 'assets/images/dashimg/blue1.png' %}" /></strong
        ></a>
      </div>
      <nav>
        <div class="nav-mobile">
          <a id="nav-toggle" href="#!">
            <span></span>
          </a>
        </div>
        <ul class="nav-list mt-4">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/services">Overview</a></li>
          <li>
            <a href="/dashboard">Solutions</a>
          </li>
          <li><a href="/contact">Contact us</a></li>
          {% if request.user.id %}
          <li><a href="/logout/">Logout</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
    ; (function ($) {
      $(function () {
        $('nav ul li > a:not(:only-child)').click(function (e) {
          $(this)
            .siblings('.nav-dropdown')
            .slideToggle()
          $('.nav-dropdown')
            .not($(this).siblings())
            .hide()
          e.stopPropagation()
        })
        $('html').click(function () {
          $('.nav-dropdown').hide()
        })
    
        $('#nav-toggle').click(function () {
          $('nav ul').slideToggle();
        });
        $('#nav-toggle').on('click', function () {
          this.classList.toggle('active')
        })
      })
    })(jQuery)

    // active effect 
var header = document.getElementById("dashboard-heading");
var btns = header.getElementsByClassName("status");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
  var current = document.getElementsByClassName("active");
  current[0].className = current[0].className.replace(" active", "");
  this.className += " active";
  });
}

  </script>

  
  
</section>




